body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    
   
    background-size: 400% 400%;
    
    
    animation: gradientShift 10s ease infinite;
    
    font-family: Arial, Helvetica, sans-serif;
}


@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



.box {
    background-color: rgb(24, 25, 26); 
    min-height: 470px;
    width: 300px;
    border-radius: 20px;
    padding: 10px 0;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4); 
    margin: 40px auto;
    box-sizing: border-box;
}


.output {
    display: flex;
    justify-content: center;
    margin-bottom: 13px;
    width: 300px;
    margin-top: 5px;
}


.blue {
    width: 280px; 
    height: 95px;
    background: linear-gradient(135deg, rgb(36, 71, 140), rgb(28, 59, 115)); 
    border-radius: 10px;
    border: 3px solid #353f50;
    color: #e2e8f0;
    font-family: 'Courier New', Courier, monospace; 
    font-size: 26px;
    font-weight: bold;
    text-align: right;
    padding: 12px;
    box-sizing: border-box;
    resize: none;
    outline: none;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.5); 
}


.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 10px;
    column-gap: 6px;
    padding: 0 14px;
    justify-items: center;
}


.btn {
    width: 50px;
    height: 38px;
    border: none; 
    background-color: rgb(58, 59, 60); 
    color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    box-shadow: 0 4px 0px rgb(25, 25, 26); 
    transition: transform 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275), 
    background-color 0.2s, 
    box-shadow 0.1s;
}


.btn.scientific, .btn.mode {
    background-color: rgb(45, 48, 50); 
    color: #a5b4fc;
}

.btn.operator {
    background-color: rgb(217, 119, 6); 
    color: #ffffff;
}

.btn.system.ac, .btn.system.del {
    background-color: rgb(225, 29, 72); 
    color: #ffffff;
}

.btn.system.off {
    background-color: rgb(99, 102, 241);
    color: #ffffff;
}

.btn.equals {
    background-color: rgb(37, 99, 235); 
    color: #ffffff;
}


.btn:hover {
    background-color: rgb(57, 164, 231);
    color: #ffffff;
    transform: translateY(-2px); 
    box-shadow: 0 6px 0px rgba(57, 164, 231, 0.2);
}


.btn:active {
    transform: translateY(3px); 
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.9);
    filter: brightness(0.85);
}